---
layout: default
css-include: /css/main.css
sorted: 1
---

{% assign components = site.components | sort: 'order' %}

<section id="kHeader" class="carousel slide overlay" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        {% for component in components %}
        {% unless component.shortDescription %}{% continue %}{% endunless %}
        <article class="carousel-item dark-text {% if forloop.first %}active{% endif %}">
            <div class="carousel-item-content">
                <div class="slide-background" style="background-image: url({{ component.screenshot }})"></div>
                <div class="carousel-text-overlay">
                    <h1>{{ component.name }}</h1>
                    <p>{{ component.shortDescription }}</p>
                    <a href="#{{ component.name | downcase }}" class="learn-more smooth-scroll">Learn More</a>
                </div>
            </div>
        </article>
        {% endfor %}
    </div>

    <ol class="carousel-indicators">
        {% for component in components %}
        {% unless component.shortDescription %}{% continue %}{% endunless %}
        <li data-target="#kHeader" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
    </ol>
</section>

<main aria-label="Content" id="content" class="container">
  <h1>{{ site.title }}</h1>

  <aside id="kWelcome" class="container">
    <p>Calligra Suite is an office and graphic art suite by KDE. It is available for desktop PCs, tablet computers, and smartphones. It contains applications for word processing, spreadsheets, presentation, vector graphics, and editing databases. <br> </p>
</aside>

  <div class="features">
  {% for component in components %}
    {% unless component.description %}{% continue %}{% endunless %}
    <div class="my-4 row align-items-center">
      <div class="col-12 col-md-4">
        <h2><a href="{{ component.url }}">{{ component.name }}</a></h2>
        <p>{{ component.description }}</p>
        <p><a href="{{ component.url }}">Read more...</a></p>
      </div>
      <div class="col-12 col-md-8">
        <img class="img-fluid" src="{{ component.screenshot }}" alt="{{ component.name }}">
      </div>
    </div>
    {% endfor %}
  </div>
</main>
