---
title:      "Fail! No Linux App Summit for me."
created_at: 2019-11-10 13:09:49 UTC
author:     boud
layout:     post
original_link: "https://valdyas.org/fading/software/krita/fail-no-linux-app-summit-for-me/"
---
<p>Fail&#8230;</p>
<p>I was going to attend the <a href="https://linuxappsummit.org/">Linux App Summit</a>, and even going to speak, about Krita and what happens to a an open source project when it starts growing a lot. And what that would mean for the Linux desktop ecosystem and so on. But that&#8217;s not going to happen.</p>
<p>There was really bad flooding in the south of France, which damaged the TGV track between Montpellier and Barcelona. When we went home after the 2018 Libre Graphics Meeting, we took the train from Barcelona to Paris, and noticed how <i>close</i> the water was.</p>
<p>Well, I guess it was too close. And this is relevant, because I had planned to come to Barcelona by train. It&#8217;s a relatively easy one-day trip if everything is well, and gives ten hours of undisturbed coding time, too. Besides, I have kind of promised myself that I&#8217;m not going to force myself to take planes anymore. Flying terrifies me. So I didn&#8217;t consider flying from Amsterdam for a moment &#8212; I was only afraid that other people would try to force me to fly.</p>
<p>Then I learned that there <i>is</i> a connection: I would take the train to Montpellier, and then a bus to Bezieres and then a train again. It would make the whole trip a two-day journey, with, as recommended by the travel agency I bought the tickets from, a stop in Paris. That advice was wrong.</p>
<p>I should have taken my connecting train to Montpellier, got a hotel there, and continued the next day. At this point I was like, okay&#8230; I&#8217;m just going home. Which I am doing right now. I bet the trip back would be just as difficult, and my Spanish isn&#8217;t as good as my French, so I would have an even harder time getting people to tell me what to do exactly, when to travel and where to go.</p>
<p>Sorry, everybody.</p>