---
title:      "Distributed Beta Testing Platforms"
created_at: 2019-08-21 10:10:12 UTC
author:     boud
layout:     post
---
<p>Do they exist? Especially as free software? I don&#8217;t actually know, but I&#8217;ve never seen a free software project use something like what I&#8217;ve got in mind.</p>
<p>That would be: a website where we could add any number of test scenarios.</p>
<p>People who wanted to help would get an account, make a profile with their hardware and OS listed. And then a couple of weeks before we make a release, we&#8217;d release a beta, and the beta testers would login and get randomly one of the test scenarios to test and report on. We&#8217;d match the tests to OS and hardware, and for some tests, probably try to get the test executed by multiple testers.</p>
<p>Frequent participation would lead to badges or something playful like that, they would be able to browse tests, add comments and interact &#8212; and we, as developers, we&#8217;d get feedback. So many tests executed, so many reported failure or regressions, and we&#8217;d be able to improve before the release.</p>
<p>It would be a crowd-sourced alternative to something like Squish (which I&#8217;ve never found to be very useful, not for Krita, not at the companies where it was used), it would make beta testers not just feel useful, it would make beta testing useful. Of course, maintaining the test scripts would also take time.</p>
<p>It sounds simple to me, and kind of logical and useful, but given that nobody is doing this &#8212; does such a thing exist?</p>