---
title:      "Python 3.8 woes"
created_at: 2020-02-05 09:30:53 UTC
author:     boud
layout:     post
original_link: "https://valdyas.org/fading/software/python-3-8-woes/"
---
<p>I&#8217;m not as deep into Python these days as I was twenty years ago. Twenty years ago, Python was small language with clear documentation and clear, consistent ways of doing things. One thing was hard, though, and that was packaging your python application so people on different systems could use it.</p>
<p>These days, Python is big, has lots of computer-sciency features that I don&#8217;t grok, and packaging Python is still hard. And the documentation is, for the most part, not very useful. I didn&#8217;t care a lot about that, though, since we only use Python as Krita&#8217;s extension language together with PyQt. And we had a nice and working setup for that.</p>
<p>Well, nice&#8230; It&#8217;s a bit hacky, especially for Windows. Especially since we need to build Krita with mingw, because msvc has problems compiling the Vc library. And Python has problems getting built with mingw-gcc on Windows.</p>
<p>We have three related parts: python, sip, which creates Python libraries out of special hand-written header-like files, and PyQt, which binds Pyton and Qt.</p>
<p>So, we start with a system-wide install of Python. This is used to configure Qt and build sip and PyQt. Then we download an embeddable Python of exactly the same version as the system-wide install, and install that with Krita&#8217;s other dependencies.</p>
<p>But last week the KDE binary factory windows images got updated to Python 3.8.1 (from 3.6.0) so we had to update the references to Python in Krita&#8217;s build system. There are a couple of places where the exact version is hard-coded, not just in the build system, but also in the code that setups Python for actual usage when Krita runs.</p>
<p>And at that point, our house of cards fell apart. Python 3.8 has a new, improved, more consistent way of finding dll libraries on Windows. At least, that was the idea. Following <a href="https://bugs.python.org/issue36085">discussion in Python&#8217;s bug tracker</a>, a Python developer declared victory:</p>
<blockquote class="twitter-tweet">
<p dir="ltr" lang="en">Python 3.8 on Windows is getting a new fix for DLL Hell. If you bundle precompiled DLLs with your wheels or use ctypes, you should read <a href="https://t.co/tjNwZPII3X">https://t.co/tjNwZPII3X</a> and the os.add_dll_directory() function. <a href="https://t.co/NwesjRgWCN">pic.twitter.com/NwesjRgWCN</a></p>
<p>— Zooba (@zooba) <a href="https://twitter.com/zooba/status/1112204206071373826?ref_src=twsrc%5Etfw">March 31, 2019</a></p></blockquote>
<p><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
<p>Given that the actual error we had was</p>
<p><tt>c:\dev\krita&gt;python<br />
Python 3.8.1 (tags/v3.8.1:1b293b6, Dec 18 2019, 23:11:46) [MSC v.1916 64<br />
bit (AMD64)] on win32<br />
Type "help", "copyright", "credits" or "license" for more information.<br />
&gt;&gt;&gt; import PyQt5<br />
&gt;&gt;&gt; import PyQt5.Qt<br />
&gt;&gt;&gt; import PyQt5.QtCore<br />
Traceback (most recent call last):<br />
File "", line 1, in<br />
ImportError: DLL load failed while importing QtCore: The specified module<br />
could not be found.<br />
</tt></p>
<p>This seemed related: the PYQt pyd files link to the Qt dll&#8217;s. The pyd files are in lib/krita-python-plugins, the Qt dll&#8217;s in the bin folder, and it looks like the QtCore pyd, even though dependency walker shows it can find the QtCore.dll, Python cannot find it anymore.</p>
<p>So, on to the changelog. This says:</p>
<blockquote><p>DLL dependencies for extension modules and DLLs loaded with <a class="reference internal" title="ctypes: A foreign function library for Python." href="https://docs.python.org/3/library/ctypes.html#module-ctypes"><code class="xref py py-mod docutils literal notranslate"><span class="pre">ctypes</span></code></a> on Windows are now resolved more securely. Only the system paths, the directory containing the DLL or PYD file, and directories added with <a class="reference internal" title="os.add_dll_directory" href="https://docs.python.org/3/library/os.html#os.add_dll_directory"><code class="xref py py-func docutils literal notranslate"><span class="pre">add_dll_directory()</span></code></a> are searched for load-time dependencies. Specifically, <span id="index-22" class="target"></span><code class="xref std std-envvar docutils literal notranslate"><span class="pre">PATH</span></code> and the current working directory are no longer used, and modifications to these will no longer have any effect on normal DLL resolution. If your application relies on these mechanisms, you should check for <a class="reference internal" title="os.add_dll_directory" href="https://docs.python.org/3/library/os.html#os.add_dll_directory"><code class="xref py py-func docutils literal notranslate"><span class="pre">add_dll_directory()</span></code></a> and if it exists, use it to add your DLLs directory while loading your library. Note that Windows 7 users will need to ensure that Windows Update KB2533623 has been installed (this is also verified by the installer). (Contributed by Steve Dower in <a class="reference external" href="https://bugs.python.org/issue36085">bpo-36085</a>.)</p></blockquote>
<p>Well, that sounds relevant, so let&#8217;s check the documentation and see if there are examples of using this add_dll_directory&#8230;</p>
<blockquote>
<dl class="function">
<dt id="os.add_dll_directory"><code class="sig-prename descclassname">os.</code><code class="sig-name descname">add_dll_directory</code><span class="sig-paren">(</span><em class="sig-param">path</em><span class="sig-paren">)</span></dt>
<dd>Add a path to the DLL search path.</p>
<p>This search path is used when resolving dependencies for imported extension modules (the module itself is resolved through sys.path), and also by <a class="reference internal" title="ctypes: A foreign function library for Python." href="https://docs.python.org/3/library/ctypes.html#module-ctypes"><code class="xref py py-mod docutils literal notranslate"><span class="pre">ctypes</span></code></a>.</p>
<p>Remove the directory by calling <strong>close()</strong> on the returned object or using it in a <a class="reference internal" href="https://docs.python.org/3/reference/compound_stmts.html#with"><code class="xref std std-keyword docutils literal notranslate"><span class="pre">with</span></code></a> statement.</p>
<p>See the <a class="reference external" href="https://msdn.microsoft.com/44228cf2-6306-466c-8f16-f513cd3ba8b5">Microsoft documentation</a> for more information about how DLLs are loaded.</p>
<p class="availability"><a class="reference internal" href="https://docs.python.org/3/library/intro.html#availability"><span class="std std-ref">Availability</span></a>: Windows.</p>
<div class="versionadded">
<p><span class="versionmodified added">New in version 3.8: </span>Previous versions of CPython would resolve DLLs using the default behavior for the current process. This led to inconsistencies, such as only sometimes searching <code class="xref std std-envvar docutils literal notranslate"><span class="pre">PATH</span></code> or the current working directory, and OS functions such as <code class="docutils literal notranslate"><span class="pre">AddDllDirectory</span></code> having no effect.</p>
<p>In 3.8, the two primary ways DLLs are loaded now explicitly override the process-wide behavior to ensure consistency. See the <a class="reference internal" href="https://docs.python.org/3/whatsnew/3.8.html#bpo-36085-whatsnew"><span class="std std-ref">porting notes</span></a> for information on updating libraries.</p>
</div>
</dd>
</dl>
</blockquote>
<dl class="function">
<dd>
<div class="versionadded">
<p>Well, no&#8230; So let&#8217;s google for it. That didn&#8217;t find a lot of useful links. The most useful was <a href="https://gitlab.kitware.com/vtk/vtk/commit/d651e12bdffd369f18a5fb727aa762ab532878f0">a patch for VTK that uses this method from the C++ wrapper</a> The examples in that tweet would&#8217;ve been a good addition to the documentation.</p>
<p>So I started experimenting myself. And failed. Our code that detects whether PyQt5 is available isn&#8217;t very complicated, but no matter what I did &#8212; even copying the Qt5 dll&#8217;s to the PyQt5 folder, using add_dll_directory in various ways, I would always get the same error.</p>
<p>And now I&#8217;m stuck. Downgrading to Python 3.6 makes everything work again, another hint that this dll finding change <em>is</em> the problem, but that&#8217;s not the way forward, of course.</p>
<p>For now, the beta of Krita 4.2.9 is delayed until we find a solution.</p>
</div>
<div class="versionadded">
<p>&nbsp;</p>
</div>
</dd>
</dl>